@model IEnumerable<BookCatalogue.Core.DTO.AuthorDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>Authors</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Index" method="get">
    Search & Filters:
    <div class="form-actions no-color">
        <p>
            Name or Surname: 
            <input type="text" name="SearchStringName" value="@ViewData["CurrentFilterName"]" />
        </p>
        <p>
            Born before: <input type="date" name="SearchDateBefore" value="@ViewData["CurrentFilterBornBefore"]" />
        </p>
        <p>
            Born after: <input type="date" name="SearchDateAfter" value="@ViewData["CurrentFilterBornAfter"]" />
        </p>
    </div>
    <input type="submit" value="Search" class="btn btn-default" />
    <a asp-action="Index">Back to Full List</a>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="Name" asp-route-currentSort="@ViewData["CurrentSort"]">@Html.DisplayNameFor(model => model.Name)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="Surname" asp-route-currentSort="@ViewData["CurrentSort"]">@Html.DisplayNameFor(model => model.Surname)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="DateOfBirth" asp-route-currentSort="@ViewData["CurrentSort"]">@Html.DisplayNameFor(model => model.DateOfBirth)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
